chessformer/sl_training.log
chessformer/sl_training-ref.log
chessformer/ckpts/chessformer*.pth
chessformer/*.log
chessformer/ckpts/*
data/processed_lichess/*
*.log
data/processed_lichess/lichess_annotated_depth18.csv
data/processed_lichess/lichess_annotated_depth27.csv
data/processed_lichess/lichess_annotated_depth18.csv
chessformer/utils/__pycache__/mapping.cpython-312.pyc
*.pyc
*.pth
chessformer/__pycache__/*
papers/*
chesslm/outputs/*
unsloth_compiled_cache/*
data/sft/*
data/rl/*
data/sl/*
data/rs/*
chesslm/ckpts/*
.gradio/*
log/*
